/*== 
 * Vue.js & TailwindCSS Portfolio Main CSS File
 * Powered by: @realstoman
*/

@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom Styles Below */

body {
  font-family: "GeneralSans-Regular";
}

/* Theme Colors */

/* Fonts */
@font-face {
  font-family: "Mikhak";
  src: url("../fonts/Mikhak-v3.3/Mikhak[DSTY\,KSHD\,wght].woff2")
    format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

/* Active class for navigation menu */
.router-link-active,
.router-link-exact-active {
  @apply text-indigo-800;
  @apply text-indigo-600 dark:text-indigo-300;
}
